@import url('http://fonts.cdnfonts.com/css/kiyoka');
@import url('http://fonts.cdnfonts.com/css/satoshi');
@import url('http://fonts.cdnfonts.com/css/winston');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020202;
    color: rgb(251, 248, 248);
    
    
}
.container{
    /* width: 90%; */
    margin: auto;
    max-width: 80%;
    font-family: 'Winston', sans-serif;
}
.navbar{
    background-color: #020202;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
a{
    font-size: 62%;
}
.logo{
    position: sticky;
    z-index: 100000000;

}

.log{
    color: white;
    margin-top: -2px;
    text-decoration: none;
    font-size: 2rem;
}
.logo a{
    /* font-family: 'Onttaseckie', sans-serif; */
    font-family: 'Winston', sans-serif;
    font-weight: 100;
    text-decoration: none;
    flex-shrink: 0;
    /* position: static; */
}
.icons{
    display: flex;
    padding: 10px 0;
    width: 50%;
}
a{
    width: 10%;
    padding: 0 20px;
}
i{
    color: rgb(255, 255, 255);
    /* width: 40%; */
    padding: 10px 0;
    font-size: 25px;
}
i:hover{
    animation-name: iconhover;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes iconhover {
    0%{transform: none;}
    
    100%{transform: rotateX(360deg);}
}

.heading{
    margin-top: 50px ;
}

.heading h1{
    /* width:50%; */
    line-height: 40px;
    animation-name: heading;
    letter-spacing: 0.1em;
    animation-duration: 4s;
    line-height: 1em;
    /* font-family: 'Onttaseckie', sans-serif; */
    font-family: 'Kiyoka', sans-serif;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    font-size: 3rem;
    position: relative;
}

@keyframes heading {
    0%{top: -1000px;}
    25%{top: 20px;}
    50%{top:0px;}
    75%{top:0px;}
    100%{top: 0px;}
}
span{
    animation: span;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes span {
    0%{color: rgb(65, 9, 117);}
    25%{ color: rgb(65, 9, 117);}
    50%{left:0px; color: rgb(18, 139, 7);}
    75%{left:0px; color: rgb(235, 4, 180);}
    100%{left: 0px; color: rgb(65, 4, 105);}
}
.heading p{
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.welcome{
    color: rgb(65, 4, 105);
    margin-left: auto;
    background-color: transparent;
    border: 2px solid rgb(65, 4, 105);
    padding: 10px;
    outline: none;
    margin-top: 18px;
    position: relative;
    font-size: 16px;
    animation: welcome;
    /* animation-delay: 1s; */
    animation-duration: 3s;
}
@keyframes welcome{
    0%{left: -1000px;}
    100%{left: 0px;}
}

.right{
    display: grid;
    justify-content:flex-end;
    width: 100%;
    /* border: 1px solid green; */
}

.left{
    display: grid;
    justify-content: left;
    width: 100%;
}

.about1{
    padding: 10px;
    /* border: 1px solid green; */
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fffcfc;
    opacity: 0%;
    font-weight: 200;
    font-size: 1.5em;
    position: relative;
    /* justify-self: right; */
    /* align-items:flex-end; */
    /* align-content: flex-end; */
    /* justify-content:right; */
    max-width: 400px;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-name: display;
    animation-duration: 4s;
}

.about1 h3{
     /* font-family: 'Onttaseckie', sans-serif; */
    font-family: 'Krisan', sans-serif;;
}

@keyframes display {
    0%{opacity: 0; right:-400px ;}
    50%{opacity: 25%; right: 0px;}
    75%{opacity: 50%; right: 0px;}
    100%{opacity: 70%; right: 0px;}
    
}

.about1 p{
    text-align: left;
}

.about2{
    /* padding: 10px; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    color: #fffafa;
    margin-top: 20px;
    text-align: center;
    /* float: left; */
    position: relative;
    font-size: 1.7em;
    font-weight: 200;
    opacity: 0;
    animation-fill-mode: forwards;
    max-width: 400px;
    animation-delay: 2s;
    animation-name: display2;
    animation-duration: 4s;
}

.about2 h3{
    text-align: center;
    font-family: 'Krisan', sans-serif;
}
@keyframes display2 {
    0%{opacity: 0; left:-400px;}
    50%{opacity: 25%; left: 0px;}
    75%{opacity: 50%; left: 0px;}
    100%{opacity: 75%; left: 0px;}
}

.projects{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    animation-name: fadee;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes fadee {
    0%{opacity: 0;}
    50%{opacity: 0}
    100%{opacity: 1;}
    
}

.col{
    background-color: #c0bdc0;
    /* padding: 10px; */
    color: black;
    border-radius: 5px;
    width: 100%;
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.col h4{
    padding-left: 10px;
    padding-top: 10px;
}

.col a{
    text-decoration: none;
    padding:10px;
    color: #440744;
    font-weight: 500;
    font-size: 15px;
    width: 200px;
}