*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #050505;
    color: white;
}
.container{
    /* width: 90%; */
    margin: auto;
    max-width: 80%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}
a{
    font-size: 62%;
}
.logo{
    width: 30%;
    display: inline;
    position: static;

}
.logo img{
    width: 40%;
    /* position: static; */
}
.icons{
    display: flex;
    padding: 10px 0;
    width: 50%;
}
a{
    width: 10%;
    padding: 0 20px;
}
i{
    color: rgb(255, 255, 255);
    /* width: 40%; */
    padding: 10px 0;
    font-size: 25px;
}
i:hover{
    animation-name: iconhover;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes iconhover {
    0%{transform: none;}
    
    100%{transform: rotateX(360deg);}
}

.heading{
    margin: 50px auto;
}

.heading h1{
    /* width:50%; */
    margin: 20px auto;
    text-transform: uppercase;
    animation-name: heading;
    animation-duration: 4s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    font-size: 50px;
    position: relative;
}
@keyframes heading {
    0%{left: -1000px;}
    25%{left: 20px; color: rgb(65, 9, 117);}
    50%{left:0px; color: rgb(18, 139, 7);}
    75%{left:0px; color: rgb(153, 5, 5);}
    100%{left: 0px; color: white;}
}
